/* ------------------------------------ *\
    #ERROR
\* ------------------------------------ */

@block error
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(90deg, rgb(172, 81, 81), rgb(62, 39, 4));
  background-size: cover;

  @elem text
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
