/* ------------------------------------ *\
    #ERROR
\* ------------------------------------ */

@component error {
  display: flex;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;

  background: linear-gradient(90deg, rgb(172, 81, 81), rgb(62, 39, 4));
  background-size: cover;

  @descendent text {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
