# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

.DS_Store

# NodeJS

.nyc_output
coverage

npm-debug.log

node_modules
bower_components

# APP

public/app.js
public/app.map.js
public/vendor.js
public/vendor.map.js
