# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

.DS_Store

# NodeJS

.nyc_output

coverage
node_modules
bower_components

# APP

public/*.js
