/* ------------------------------------ *\
       #NAV
\* ------------------------------------ */

@component nav {
  display: flex;

  justify-content: space-around;

  width: 100vw;
  height: 5vh;

  @descendent list {
    display: flex;

    width: 50%;
  }

  @descendent left {
    align-self: flex-start;
  }

  @descendent right {
    align-self: flex-end;
  }

  @descendent link {
    display: flex;

    width: 100%;
  }

  @descendent item {
    display: flex;

    align-content: center;
    justify-content: space-between;

    flex: 1 1 25%;
    flex-flow: row nowrap;

    width: 100%;
  }

  @descendent dropdown {
    display: none;

    flex-flow: column;
  }
}
