/* ------------------------------------ *\
   #HOME
\* ------------------------------------ */

.home {
  display: flex;

  width: 100vw;
  height: auto;

  margin-top: 10%;

  align-content: center;
  justify-content: center;
}
