/* ------------------------------------ *\
    #HOME
\* ------------------------------------ */

@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i'

.home
  display: flex
  flex-flow: column
  align-content: center
  justify-content: flex-start

  /*background-image: url('./bg-home.png')*/

  width: 100vw
  height: 95vh

  font-family: 'Cormorant Garamond', 'sans-serif'
