/* ------------------------------------ *\
    #HOME
\* ------------------------------------ */

.home
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: flex-start;

  background-image: url('./images/bg-home.png')

  width: 100vw;
  height: 95vh;
