/* ------------------------------------ *\
   #HOME
\* ------------------------------------ */

.home {
  display: flex;

  width: 100vw;
  height: auto;
  margin-top: 10%;

  justify-content: center;

  background-color: rgb(6, 98, 208);
}
