/* ------------------------------------ *\
    #HOME
\* ------------------------------------ */

.home
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100vw;
  height: auto;
  margin-top: 10%;
