/* ------------------------------------ *\
    #NAV
\* ------------------------------------ */

.nav
  display: flex;
  justify-content: space-between;

  width: 100%;

.nav__item
  color: rgb(218, 255, 243);
  font-size: 1em;
  font-weigth: 100;
